<!DOCTYPE html>
<html lang="ja">
<head>
<% include head/meta %>
<% include head/ios-meta %>
<% include head/facebook-ogp %>
<title><%= meta.title %></title>
<link rel="stylesheet" href="<%= root %>/css/<%= name %>.css" />
<script src="<%= root %>/js/<%= name %>.js"></script>
</head>
<body>
<h1><%= meta.title %></h1>
<%= meta.description %>
</body>
</html>
