<!DOCTYPE html>
<html lang="ja">
<head>
<% partial_meta(buf, {}) %>
<% partial_ios_meta(buf, {}) %>
<% partial_ogp(buf, {}) %>
<title><%= meta.title %></title>
<link rel="stylesheet" href="<%= css_path %>/<%= name %>.css" />
<script src="<%= js_path %>/<%= name %>.js"></script>{% if (project_type == 'library') { %}
<script src="<%= js_path %>/{%= demo_script %}.js"></script>{% } %}
</head>
<body><% content(buf) %></body>
</html>
